<body style="margin: 0 auto; background-color: #f8e83d;">
  <section style="margin: 0 auto; padding: 5px; height: auto; width: 80%; border-style: solid; border-color: #57d0ba; text-align:center;">
    <h1 style="font-family: 'Arial'; color: #395f8a;">Hi @user.first_name</h1>
    <p style="font-family: 'Arial'; color: #395f8a;">Thanks for signing up for Parkner!</p>
  </section>
</body>
