<h1>Welcome, <%= @user.first_name %>!</h1>

<div class="container">
  <div>
    <button> 
      <%= link_to 'Cars', cars_path %>
    </button>
  </div>

  <div>
    <button> 
      <%= link_to 'Park', parkings_path %>
    </button>
  </div>

</div>






