<script>
console.log("hi");
</script>

<h1>Your Current Parkings</h1>

<% if @user_has_no_parkings == false %>

<div class="container">
  <div class="row">
    <% @parkings.each do |parking| %>
      <div class="col-sm-12">
        <button><%= link_to Car.find(parking.car_id).nickname + ' Session', parking %></button>
      </div>
    <% end %>
  </div>
</div>

<% else %> 
      <% if @user.cars == [] %>
      <p>Looks like you don't have any cars registered. 
<br>
<br>
Click <%= link_to 'Here', new_car_path %> to register your first car!</p>
      <% else %>
<p>Looks like you don't have any current parking sessions. 
<br>
<br>
Click <%= link_to 'Here', new_parking_path %> to Parkner for the first time!</p>
<% end %>
<% end %>
<br>
<% if @user_has_no_parkings == false %>
<%= link_to 'Create New Parking Session', new_parking_path %>
<% end %>


