<div class="container-fluid">
  <div id="rowTextAlign" class ="row">
  <div id ="titleContainer" class = "col-sm-12">

<h1>New Parking</h1>

</div>
</div>

<div id="carOutterWrapper"> 

<%= render 'form', parking: @parking %>

<%= link_to 'Back', parkings_path %>

</div>


