body{
    background-color: $yellow;
    background-color: $blue;
//     background: #1e3c72;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// background: white;
    font-family: 'Fredoka One', cursive;
    #landing-nav{
        margin: 20px;
        background-color: $yellow;
        color: $blue;
        
        span {
            font-family: 'Fredoka One', cursive;
            color: $blue;
        }

        .nav-logo{
            height: 50px;
            width: auto;
        }

        li{
            margin: 10px;
        }

        // a:hover{
        //     color: $aqua;
        //     background-color: $blue;
        //     padding: 3px;

        // }
    }

    #landing-wrapper{
        display: flex;
        margin: 30px;
        height: 100%;
        border: solid 5px $aqua;

        #content-landing{
            color: $blue;
            h1{
                font-family: 'Fredoka One', cursive;
                font-size: 600%;
            }
            .b{
                text-indent: 200px;
            }
        }
    }
}

