body{
    background-color: $yellow;
    #landing-nav{
        margin: 20px;
        background-color: $yellow;
        color: $blue;
        
        span {
            font-family: 'Fredoka One', cursive;
            color: $blue;
        }

        .nav-logo{
            height: 50px;
            width: auto;
        }

        li{
            margin: 10px;
        }

        a:hover{
            color: $aqua;
            background-color: $blue;
            padding: 3px;

        }
    }

    #landing-wrapper{
        display: flex;
        margin: 30px;
        height: 100%;
        border: solid 5px $aqua;

        #content-landing{
            color: $blue;
            h1{
                font-family: 'Fredoka One', cursive;
                font-size: 600%;
            }
            .b{
                text-indent: 200px;
            }
        }
    }
}