body{
    background-color: $blue;
    background-color: $newAqua;
   
//     background: #1e3c72;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// background: white;
    font-family: 'Fredoka One', cursive;
    #landing-nav{
        margin:   20px 50px;
        background-color: $aqua;
        color: $blue;
        
        span {
            font-family: 'Fredoka One', cursive;
            color: $blue;
        }

        #line {
        color: red;    
        border: none;
        height: 10px;
        background: #ccc;
        }

        .nav-logo{
            height: 50px;
            width: auto;
        }

        li{
            margin: 10px;
        }

        #line {
            height: 5px;
            border: 0;
            width: 80%;
          }

        // a:hover{
        //     color: $aqua;
        //     background-color: $blue;
        //     padding: 3px;

        // }
    }

    #landing-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
        height: 100%;
        // border: solid 5px $aqua;

        #content-landing{
            color: $blue;
            
            // h1{
            //     font-family: 'Fredoka One', cursive;
            //     font-size: 600%;
            // }
            .b{
                // text-indent: 250px;
                // text-indent: 21%;
            }

            h2{
                // align-self: center;
                // text-align: center;
            }
        }
    }
}

#landing-text{
font-family: 'Fredoka One', cursive;
                font-size: 600%;
}

#text-indent{
    text-indent: 205px;
}

#never-worry-text{
    align-self: center;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #landing-text {
        font-size: 200%; 
    }

    #text-indent {
        text-indent: 100px;
        
    }

    #never-worry-text{
        align-self: center;
        text-align: center;
        font-size: 20px;
       
    }
    
}


