#map_canvas{
    height: 56vh;
    width:  100%;
    background-image: url("loading-gif-white.gif");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 18%;
    border: 1px solid #3F6188;
    background-color:   #3F6188;

}