@import "colors";
@import "bootstrap";
@import "landing";
@import "map";
// @import "parkings";

.bg-light {
    background-color: #f8f9fa !important;
    // background-color: #F8E24E !important;
    border: 2px solid;
    border-radius: 15px;
    
}

#mainContainer {
    border: 2px solid $blue;

    min-height: 70vh;
    // height: 500px;
    text-align: center;
    max-width: 800px;
    

   
    // padding: 0;
    border-radius: 15px;
    
    // background-color: rgb(233, 183, 255) !important;
    // background: #83a4d4;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    // background: $yellow;
   
    //     background: #1e3c72;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    // color: white;
    // background-color: blue;
    background-color: #f8f9fa !important;
}

@media only screen and (max-width: 414px) {
    #mainContainer {
        max-width: 90vw;
    }
}

#submitPark {
    display: none;
}

#titleContainer {
    // background: white;
    // height: 100px;
    // border-bottom: 2px solid $blue;
    
    // max-width: 200px;
    margin: auto;
    color: $blue;
    padding-top: 4%;
    border-bottom: 4px solid $yellow;
    // background: white;
    // background: $yellow;
   
}

// #rowTextAlign {
//     width: 100%;
// }

// .navbar-toggler-icon {
//     color: $blue;
// }

.fa-bars {
    color: $blue;
}

// .borderBottom {
//     border-bottom: 5px solid $yellow;
//     padding: 0;
   
// }

#carOutterWrapper {
    // background: $aqua;
    min-height: 330px;
    margin-top: 7%;
    // border-radius: 5%;
    // border-left: 2px solid $aqua;
    // border-bottom: 2px solid $aqua;
}

.buttonWidth {
    max-width: 300px;
    width: 70%;
    margin: 2px;
}

.addButton {
    width: 250px;
}

input {
    border: .5px solid $blue;
    
}
