@import "colors";
@import "bootstrap";
@import "landing";
@import "map";
// @import "parkings";

.bg-light {
    background-color: #f8f9fa !important;
    border: 2px solid;
}

#mainContainer {
    border: 2px solid;
    min-height: 70vh;
    // height: 500px;
    text-align: center;
    max-width: 800px;
    // background: white;
}





