@import "colors";
@import "bootstrap";
@import "landing";
@import "map";

.bg-light {
    background-color: #f8f9fa !important;
    border: 2px solid;
}

#mainContainer {
    border: 2px solid;
    min-height: 70vh;
    text-align: center;
    // background: white;
}



