@import "colors";
@import "bootstrap";
@import "landing";
@import "map";


#map_canvas {
    background-image: url("loading-gif-white.gif");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 33%;
}