// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: linear-gradient(to bottom, #fdc830, #f37335);
    height: 100vh;
}
#map_canvas {
    background-image: url("loading-gif-white.gif");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 33%;
}