<div class="container-fluid">
  <div id="rowTextAlign" class ="row">
  <div id ="titleContainer" class = "col-sm-12">
  <h1>Your Cars</h1>

</div>
</div>

<div id="carOutterWrapper"> 

  <% if @user_has_no_cars == false %>

  <div id="cars-wrapper">


  <% @cars.each do |car| %>
    <div>
      <%= link_to car.nickname, car %>
  
    
      
    </div>
  <% end %>
  </div>

  <% else %> 
    <p>Looks like you don't have any cars registered. 
    <br>
    Click <%= link_to 'Here', new_car_path %> to register your first vehicle!</p>

    <% end %>
    <br>
    <% if @user_has_no_cars == false %>
    <button>
      <%= link_to 'Add New Car', new_car_path %>
    </button>
  <% end %>
  </div>
  <div class="borderBottom"> </div>
</div>


