<div class="container-fluid">
  <div id="rowTextAlign" class ="row">
  <div id ="titleContainer" class = "col-sm-12">

<h1>New Car</h1>

</div>
</div>

<div id="carOutterWrapper"> 

<%= render 'form', car: @car %>

<%= link_to 'Back', cars_path %>

</div>
